@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#alert{
    position: fixed;
    margin: auto;
    margin-top: 0;
    text-align: center;
    left: 41%;
    z-index: 999;
    background-color: #ffff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    display: none;
}
.alert__buttons button{
    background-color: rgb(248, 147, 147);
}
.alert__buttons button:last-child{
    background-color: rgb(163, 248, 156);
}


.container {
    
    margin: auto;
    margin-top: 25px;
    max-width: 350px;
    height: 350px;
    background-color: gray;
    border-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;

    font-family: 'Roboto', sans-serif;
}

#display{
    font-size: 100px;
    font-weight: 500;
    color: #ffff;
}

button{
    width: 150px;
    height: 45px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    
}

#startButton{
    position: absolute;
    top: 250px;
    left: 100px;
}

#stopButton{
    position: absolute;
    top: 250px;
    left: 100px;
    position: absolute;
    visibility: hidden;
}

#pauseButton{
    position: absolute;
    top: 55px;
    left: 100px;
}