@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 350px;
    height: 350px;
    background-color: gray;
    border-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;

    font-family: 'Roboto', sans-serif;
}

#display{
    font-size: 100px;
    font-weight: 500;
}

button{
    width: 150px;
    height: 45px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    
}

#startButton{
    position: absolute;
    top: 250px;
    left: 100px;
}

#stopButton{
    position: absolute;
    top: 250px;
    left: 100px;
    position: absolute;
    visibility: hidden;
}

#pauseButton{
    position: absolute;
    top: 55px;
    left: 100px;
}